/* Edit this file */
.box{
    padding: 30px;
    border-radius: 25px;
}

button{
    border-radius: 3px;
    border: 10px;
    width: 150px;
}

input{
    margin-bottom: 20px;
    padding: 10px;
    border-color: #157be8;
    border-radius: 10px;
}